# 测试效果
登陆 PPMESSAGE 后点击设置，下拉滚动条找到开发者设置框中网页聊天链接。


![](https://upload-images.jianshu.io/upload_images/12406336-0180dadae6b4b42d.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240)

点击后进入此界面：

![](https://upload-images.jianshu.io/upload_images/12406336-51f178b725ce5d99.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240)


通过这个链接可以与您的客服团队联系，您会在会话中看到消息，您甚至可以通过会话了解到访客进行了哪些操作比如（何时加载页面，何时推出页面，何时打开聊天框等等）。这样的设计可以让您更方便的与访客交流掌握他们的时时动态从而为接下来的客户细分做准备。

![](https://upload-images.jianshu.io/upload_images/12406336-4a479cb4dcd2e358.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240)

网页座席链接是一个链接，这个链接模拟了一个企业应用系统，同时集成了 PPMESSAGE 座席插件。您可以快速查看将座席集成到应用系统里面，效果如下。

![](https://upload-images.jianshu.io/upload_images/12406336-36d14ebc48f39e1b.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240)

点击show ppmessage ui 就能调出访客和座席的会话窗口了，您也可以修改会话窗口的弹出样式。通过JAVASCRIPT语言实现。

会话窗口弹出后如下。

![](https://upload-images.jianshu.io/upload_images/12406336-232c57299a757d99.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240)
